body{
    background-color: white;
    text-align: center;
    min-height: 400px;
    min-width: 250px;
    margin: 0;
}

#youtube-links-list ul{
    list-style-type: none;
    font-family: Verdana, sans-serif;
    padding: 0;
    margin-top: 32px;
}

.list{
    max-height: 340px;
    overflow: auto
}

.link{
    padding: 10px 15px;    
    font-weight: 540;
    font-size: small;
}

.link a {
    color: black;
    text-decoration: none;
}

.bg-link{
    background: ghostwhite;
}